@model Robot

{
    string imageURL = "https://robohash.org/aligator" + Model.Id.ToString() + "?set=set2";
} 

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" 
                 src="imageURL">
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>Nom</th><td>@Model.Name</td>
    </tr>

    <tr>
        <th>Poids</th><td>@Model.Weight (kg)</td>
    </tr>

    <tr>
        <th>Taille</th><td>@Model.Height (m)</td>
    </tr>
    <tr>
        <th>Pays</th><td>@Model.Country</td>
    </tr>

</table>

<form hx-post="/robots/RelocaliserRobot2" hx-ext="json-enc" hx-trigger="submit">
    <label for="country">Pays</label>
    <!-- On veut ajouter une drop down list ici -->
    <select name="country" id="country">
    @foreach (var kvp in Pays.GetCountries()) {
        <option value="@kvp.Key">@kvp.Key, @kvp.Value</option>
    }
    </select>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
    <br />
  </form>
  